{% extends "oligo_profil/layout/base_edit.html" %}
  <script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 81kh8t1i9w9aq1
    authorize: true
    onLoad: onLinkedInLoad

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }

    function displayAdmin(data){
      console.log(data)


    }
    // Use the API call wrapper to request the member's profile data
    function getProfileData() {
    IN.API.Profile("me").fields("id", "first-name", "last-name", "headline", "location", "picture-url", "public-profile-url", "email-address").result(displayProfileData).error(onError);
    }
    //Handle the successful return from the API call
    function displayProfileData(data){
        console.log(data.values[0]);
        var obj = JSON.stringify(data.values[0])
        sessionStorage.setItem("data", obj);

        $('.profile-picture').html(
         '<img class="cover" src="'+ data.values[0].pictureUrl + '"/>'
        );

        var user = data.values[0];
        document.getElementById("name").innerHTML = user.firstName+' '+user.lastName;
        document.getElementById("email").innerHTML = user.emailAddress;
        document.getElementById("link").innerHTML = user.publicProfileUrl;

    }
    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }
    // Destroy the session of linkedin
    function logout(){
        IN.User.logout(removeProfileData);
    }
    // Remove profile data from page
    function removeProfileData(){
        document.getElementById('profileData').remove();
    }
    function saveLinkedIn(){
      console.log("success");
      var data = sessionStorage.getItem("data");
      var obj = JSON.parse(data);
      insertDatabase(obj.firstName,obj.lastName,obj.pictureUrl,obj.emailAddress,obj.publicProfileUrl);
    }

    var insertDatabase = function(firstName,lastName,imageUrl,email,profileUrl) {
        $.ajax({
            method: "POST",
            url: 'http://oligo271.herokuapp.com/profil/save_to_database/',
            data: {
              firstName: firstName,
              lastName: lastName,
              imageUrl: imageUrl,
              email: email,
              profileUrl: profileUrl
            },
            success : function (user) {
                console.log(user);
            },
            error : function (error) {
                console.log(error);
            }
        });
    };
</script>

{% block content %}

<div class="container" align="center">
	<div class = "col-xs-6">
	   <br>
	   <img style="height:100px;width=100px;border-radius:50%;" class="picture" src="https://thumbs.dreamstime.com/t/default-male-avatar-profile-picture-icon-grey-man-photo-placeholder-vector-illustration-88414414.jpg">
        <p>NPM {{ npm }}</p>
	   </div>
        <div class="col-xs-3">
            <br><br><br><br>
            <div class="col-xs-6">
				<a class="btn btn-primary"> Simpan </a>
            </div>
			<div class="col-xs-6">
				<a class="btn btn-primary" href="{% url 'profil:index' %}"> Keluar </a>
            </div>

    </div>
</div>
<script type="in/Login"></script>
  <div id="profileData" style=" font-size: 15px;">
      <p><a href="javascript:void(0);" onclick="logout()">Logout</a></p>
      <div id="picture"></div>
      <div class="info">
        <h5 style=" font-size: 20px;"> Data Pribadi </h5>
        <p id="name"></p>
        <p id="email"></p>
        <p id="link"></p>
      </div>
  </div><br>

<br><br>
<div class="container">
    <div class = "col-xs-6">
        <p> Keahlian </p>
        <div class = "col-xs-2"> 1. </div>
        <div class = "col-xs-4">
            <select name="ability">
                <option value="java">Java</option>
                <option value="c#">C#</option>
                <option value="python">Python</option>
                <option value="erlang">Erlang</option>
                <option value="kotlin">Kotlin</option>
            </select>
        </div>
        <div class = "col-xs-2"> Level </div>
        <div class = "col-xs-4">
            <select name="level">
                <option value="beginner">Beginner</option>
                <option value="intermediate">Intermediate</option>
                <option value="advanced">Advanced</option>
                <option value="expert">Expert</option>
                <option value="legend">Legend</option>
            </select>
        </div>
    </div>
    <div class = "col-xs-2">
        <p>Tampilkan Nilai</p>
        <form action="">
            <input type="radio" name="score_visibility" value="tidak"> Tidak <br>
            <input type="radio" name="score_visibility" value="ya"> Ya <br>
        </form>
    </div>
</div>
<br><br>
<div class="container">
	<a class="btn btn-primary"> Tambahkan Keahlian </a>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

{% endblock %}