{% extends "oligo_profil/layout/base.html" %}
{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h2> Profil {{ name }} </h2>
    </div>
    <div class="panel-body">
        <p>Nama : {{ name }}</p>
		<p>NPM : {{ npm }}</p>
		<p>Keahlian : {{ role }}</p>
		<p>Email : {{ email }}</p>
		<p>Profile LinkedIn : {{ linkin_profile }}</p>
    </div>
</div>
{% endblock %}