<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>
        {% block title %} Oligo {% endblock %}
    </title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand">OLIGO</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/profil">Profil</a></li>
              <li><a href="/riwayat">Riwayat</a></li>
              <li><a href="{% url 'status:index' %}">Status</a></li>
              <li><a href="/friends">Teman</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav> 
    <div class="panel panel-default">
    <div class="panel panel-heading">Welcome {{ name }}</div>
       <div class = "col-xs-2">
       <br>
       <img style="height:100px;width=100px;border-radius:50%;" class="picture" src="https://thumbs.dreamstime.com/t/default-male-avatar-profile-picture-icon-grey-man-photo-placeholder-vector-illustration-88414414.jpg">
       </div>
        <div class="col-xs-3">
            <br>
            
            <div class="rows">
                <a class="btn btn-primary"> Lihat Forum </a>
            </div>
            <br>
            <div class="rows">
                <a class="btn btn-primary" href="{% url 'profil:edit-profile' %}"> Edit Profile </a>
            </div>
        
        </div>
        <div class="col-xs-7">
            <h3>Jumlah Status : {{ jumlah }}</h3>
            <h3>Latest Post</h3>
            <p>" {{ status_akhir }} "</p>
            <br>
            <br>
        </div>
    
  
</div>
</body>
<header>
    
    <!-- Your Header Here -->
</header>
<content>
    
        

        {% block content %}
        <!-- Your Content Here -->
        {% endblock %}
    </div>
</content>
<footer>
    <hr>
    {% block footer %}

    
    <!-- Your Footer Here -->
    {% endblock %}
</footer>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
</body>
</html>
