{% extends "oligo_profil/layout/base.html" %}
{% block content %}

<div class="container">
    <form method="post" action="{% url 'status:add_status' %}">
    {% csrf_token %}
    {{ status_form }}
    <button type="submit" class="btn btn-info">Post</button>
    </form>
    <br>
</div>
<br>

<div class="container">
<hr>

    {% if statusku %}
    {% for data in statusku %}
        <p style="font-size: 20px; color:black">{{data.created_date}}</p>
        <p style="font-size: 20px; color:black">{{data.description}}</p>
        
        <br>
        <hr>
        {% endfor %}
    {% endif %}
</div>
</ul>
{% endblock %}