{% extends "oligo_profil/layout/base.html" %}
{% block content %}
<style>
.box{
  margin: 100px auto;
  width: 300px;
  height: 50px;
}

.container-1 input#myInput {
    width: 200px;
    height: 40px;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: solid #ddd;
}

.container-1 .icon{
  color: #4f5b66;
}

#myTable {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

#filter {
    margin-left: 30%;
    text-align: center;
}

.LG{
  color: red;
}
.EXP{
  color: orange;
}
.AD{
  color: aqua;
}
.INT{
  color:green;
}
.BG{
  color: blue;
}
</style>

<div class="box">
    <div class="container-1">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="search" id="myInput" onkeyup="myFunction()" placeholder="Search...">        
    </div>
</div>

<div class="row px-3" id="filter">
  <div class="col-md-6 offset-3">
    <div class="form-group">
      <label for="exampleInputEmail1" class="d-block">Filter By:</label>
      <label class="custom-control custom-radio d-block">
        <input name="radio" type="radio" class="custom-control-input my_radio" value="npm">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">NPM</span>
      </label>
      <label class="custom-control custom-radio d-block">
        <input name="radio" type="radio" class="custom-control-input my_radio" value="nama">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Nama</span>
      </label>
      <label class="custom-control custom-radio d-block">
        <input name="radio" type="radio" class="custom-control-input my_radio" value="angkatan">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Angkatan</span>
      </label>
      <label class="custom-control custom-radio d-block">
        <input name="radio" type="radio" class="custom-control-input my_radio" value="keahlian">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Keahlian</span>
      </label>
      <!-- <label class="custom-control custom-radio d-block">
        <input name="radio" type="radio" class="custom-control-input my_radio" value="level">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Level</span>
      </label> -->
    </div>
  </div>
</div>


<div class="panel panel-info">
    <div class="panel-body">
        <div class="table table-responsive">
            <table class="table table-hover" id="myTable">
                <thead>
                    <th> NPM</th>
                    <th> Nama</th>
                    <th> Angkatan</th>
                    <th> Keahlian</th>
                </thead>
                <tbody>
                    {% for friend in friend_list %}
                        <tr>
                            <td> {{ friend.npm }}</td>
                            <td> {{ friend.nama }}</td>
                            <td> {{ friend.angkatan }}</td>
                            <td>
                                {% for keahlian in friend.keahlian %}
                                    <p>{{keahlian}}</p>
                                {% endfor %}
                            </td>

                            <!-- <td class='{{ friend.skill_level }}'> {{ friend.skill_variant }}</td> -->

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script>

var badan = 0;
$('.my_radio').on('click', function(){

  if (this.value === "npm"){
    badan = 0;
  } else if (this.value === "nama"){
    badan = 1;
  } else if (this.value === "angkatan"){
    badan = 2;
  } else if (this.value === "keahlian"){
    badan = 3;
  } else if (this.value === "level"){
    badan = 4;
  }

})

function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[badan];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

{% endblock %}