{% extends "oligo_profil/layout/base.html" %}
{% block content %}
<section class="main-riwayat" id="riwayat">
<style>
table, th, td {
border: 1px solid black;
}
</style>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	<div class="container">
			<div class="table table-bordered">
				<table align="center" style="text-align: center;background-color: lavender;height: 180px">
					<thead ><!-- bagian baris headnya -->
					    <tr ><!-- tr=perbais -->
					    	<!-- td=perkolom -->
					      <td align="justify" style="text-align: center;background-color: black;color: white;font-weight: bold">Mata Kuliah</td>
					      <td align="justify" style="text-align: center;background-color: black;color: white;font-weight: bold">Nilai</td>
				    	</tr>
				  	</thead>
					<tbody><!-- bagian tabel badannya-->
					{% for riwayat in riwayatku %} 
						<tr>
							<td>{{ riwayat.kelas.nm_mk_cl.nm_mk }}</td>
							{% if hide %}
							<td>Dirahasiakan</td>
							{% else %}
							<td>{{ riwayat.nilai }}</td>
							{% endif %}
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
	</div>

</section>
{% endblock %}