<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Mahasiswa</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


  
</head>

<body>
  <style>
    @import url(https://fonts.googleapis.com/css?family=Tenor+Sans);
html {
  background-color: #5D92BA;
  font-family: "Tenor Sans", sans-serif;
}

.container {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

.login {
  margin-top: 50px;
  width: 450px;
}

.login-heading {
  font: 1.8em/48px "Tenor Sans", sans-serif;
  color: white;
}

.input-txt {
  width: 100%;
  padding: 20px 10px;
  background: #5D92BA;
  border: none;
  font-size: 1em;
  color: white;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  box-sizing: border-box;
  transition: background-color 0.5s ease-in-out;
}

.input-txt:-moz-placeholder {
  color: #81aac9;
}

.input-txt:-ms-input-placeholder {
  color: #81aac9;
}

.input-txt::-webkit-input-placeholder {
  color: #81aac9;
}

.input-txt:focus {
  background-color: #4478a0;
}

.login-footer {
  margin: 10px 0;
  overlow: hidden;
  float: left;
  width: 100%;
}

.btn {
  padding: 15px 30px;
  border: none;
  background: white;
  color: #5D92BA;
}

.btn--right {
  float: right;
}

.icon {
  display: inline-block;
}

.icon--min {
  font-size: .9em;
}

.lnk {
  font-size: .8em;
  line-height: 3em;
  color: white;
  text-decoration: none;
}

  </style>
  <div class="container">
  <div class="login">
  	<h1 class="login-heading">
      <strong>Welcome.</strong> Please login.</h1>
      <form method="post" action="{% url 'login:auth_login' %}">
        {% csrf_token %}
        <input type="text" id="username" name="username" placeholder="Username" required="required" class="input-txt">
        <input type="password" id="password" name="password" placeholder="Password" required="required" class="input-txt">
          
          <div class="login-footer">
             <a href="#" class="lnk">
              <span class="icon icon--min">ಠ╭╮ಠ</span> 
              Made By Kelompok 5 Kelas E
            </a>
            <button type="submit" class="btn btn--right">Sign in  </button>
    
          </div>
        
      </form>
  </div>
</div>
  
    <script  src="static/js/index.js"></script>

</body>
</html>
